/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
.header {
  width: 100%;
  border-bottom: 1px solid #e4e4e7;
  background: white;
  padding: 16px 32px;
}

.header-container {
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo-area {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-box {
  width: 40px;
  height: 40px;

  border-radius: 12px;
  background: #09090b;

  color: white;
  font-weight: bold;
  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-title {
  font-size: 22px;
  font-weight: 600;
  color: #18181b;
}

/* PROFILE */
.profile-wrapper {
  position: relative;
}

.profile-button {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 8px 14px;

  border-radius: 999px;
  border: 1px solid #e4e4e7;

  background: white;
  cursor: pointer;

  transition: 0.2s ease;
}

.profile-button:hover {
  background: #f4f4f5;
}

.profile-image {
  width: 38px;
  height: 38px;

  border-radius: 50%;
  object-fit: cover;
}

.profile-name {
  font-size: 15px;
  font-weight: 500;
  color: #27272a;
}

.arrow {
  transition: 0.2s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

/* DROPDOWN */
.dropdown {
  position: absolute;
  top: 65px;
  right: 0;

  width: 220px;

  background: white;
  border: 1px solid #e4e4e7;
  border-radius: 18px;

  overflow: hidden;

  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);

  animation: fadeIn 0.2s ease;
}

.dropdown button {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 14px 16px;

  border: none;
  background: white;

  cursor: pointer;

  font-size: 14px;
  color: #3f3f46;

  transition: 0.2s ease;
}

.dropdown button:hover {
  background: #f4f4f5;
}

.logout {
  color: #ef4444 !important;
}

.logout:hover {
  background: #fef2f2 !important;
}

/* ANIMAÇÃO */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}