.event-card {
  background: white;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid #e5e5e5;

  transition: 0.2s;
}

.event-card:hover {
  transform: translateY(-4px);
}

.event-card img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.event-content {
  padding: 16px;
}

.event-content h3 {
  font-size: 22px;
  margin-bottom: 12px;
  color: #05051a;
}

.event-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.event-info span {
  display: flex;
  align-items: center;
  gap: 8px;

  color: #6d6d6d;
  font-size: 14px;
}

.event-content button {
  width: 100%;
  height: 38px;

  border: none;
  border-radius: 10px;

  background: #05051a;
  color: white;

  font-weight: 700;
  cursor: pointer;
}